*{
  padding: 0;
  margin: 0;
  font-family: PT Sans, sans-serif;
  background: #f4f5f9;
}


.swiper {
  width: calc(100% - 240px);
  left: 80px;
  position: absolute!important;
  bottom: 0;
  height: 165px;
  top: 35%;
}

.swiper-slide {
  font-size: 18px;
  background: transparent;
  display: flex!important;
  flex-direction: column;
  gap: 30px;
}
.swiper-button-prev, .swiper-button-next{
  height: 40px!important;
  width: 40px!important;
}
.swiper-button-disabled{
  display: none;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}
.swiper-pagination-bullet-active{
  background: #42567A!important;
}

.swiper-pagination{
  display: none;
}
@media screen and (max-width: 768px){
  .swiper{
    width: auto;
    position: initial!important;
    margin: 0!important;
  }
  .swiper-pagination{
    display: block;
    position: fixed!important;
    bottom: 32px!important;
    background: transparent;
  }
  .swiper-slide{
    gap: 24px;
  }
}